body {
   background-color: grey;
}

.border {
    
    height: 20vh;
    background-size: cover;
    background-position: center;
    background-color: white;
    padding: 0px 25px 40px 35px;
    height: 550px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
  text-align: center;
  padding: 0px;
  color: white;
}

.main-nav {
    float: right;
    text-align: right;
    list-style: none;
    margin-top: 35px;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a {
   color: gold;
   text-decoration: none;
   padding: 5px 20px;
   font-family: "Roboto", sans-serif;
   font-size: 15px;
}

.main-nav li.active a {
   border: 1px solid gold;
}

.main-nav li a:hover {
   border: 1px solid gold;
}

.header {
   color: white;
   width: 100px;
   height: 100px;
   float: left;
   text-align: center;
   padding: 0px 0px 0px 550px;
  
}

.figures {
   clear: both;
}

figure {
  float: left;
  border: 1px solid white;
  padding: 5px;
}

img {
   height: 125px;
   width: 100px;
}







